body, html, h2 {
  text-align: center;
  min-height: 100vh;
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  border-radius: 5px;
  box-shadow: 0 3px 15px #b8c6db;
  -moz-box-shadow: 0 3px 15px #b8c6db;
  -webkit-box-shadow: 0 3px 15px #b8c6db;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: #efefef;
}

a, a:visited {
  color: #828282;
  text-decoration: none;
}

a:hover, a.active {
  color: #4183c4;
}

#header {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
}

#header a {
  color: white;
}

#body {
  width: 1024px;
  margin: 0 auto;
  margin-top: 20px;
}

#body:after {
  content: '';
  clear: both;
  display: block;
}

#sidebar {
  float: left;
  width: 327px;
  margin-left: 20px;
}

#sidebar:after {
  content: '';
  clear: both;
  display: block;
}

.col {
  width: 50%;
  float: left;
}

.option-block {
  padding: 5px;
  border-bottom: 3px dashed #D0CCCC;
}

#bits {
  width:100px;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
}

.menu li a, .menu-group {
  display: block;
  min-height: 30px;
  line-height: 30px;
  padding-left: 20px;
}

.menu-group {
  font-weight: bold;
}

.menu li a:hover, .menu li a.active {
  padding-left: 19px;
  border-left: 1px solid #828282
}

#index:after {
  content: '';
  clear: both;
  display: block;
}

#index .menu {
  float: left;
  min-width: 200px;
}

#main {
  float: left;
  width: 677px;
}

#main h1 {
  margin: 10px 0;
  border-bottom: 1px solid #eee;
}

.description {
  color: gray;
  margin: 10px 0;
}

.submit {
  height: 60px;
  line-height: 50px;
  text-align: center;
}

#droppable-zone {
  border: 10px dashed #ccc;
  height: 200px;
  width: 650px;
  position: relative;
  overflow: hidden;
}

#droppable-zone.hover {
  border: 10px dashed #aaa;
}

#droppable-zone-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

#droppable-zone-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 33px;
  overflow: hidden;
}

.droppable-file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

textarea {
 max-width: 275px;
  width: 100%;
  cursor: pointer;
  background-color: #eaeaeb;
  border:none;
  color:#6c6c6c;
  font-size: 14px;
  border-radius: 5px;
  padding: 15px 45px 15px 15px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 3px 15px #b8c6db;
  -moz-box-shadow: 0 3px 15px #b8c6db;
  -webkit-box-shadow: 0 3px 15px #b8c6db;
}

::-webkit-input-placeholder { 
  text-align: center;
  line-height: 200px;
  font-size: 16pt;
}
::-moz-placeholder { 
  text-align: center;
  line-height: 200px;
  font-size: 16pt;
}
:-ms-input-placeholder{ 
  text-align: center;
  line-height: 200px;
  font-size: 16pt;
}

#footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
  text-align: center;
}

.btn {
  width:40px;
  background-color: #eaeaeb;
  font-size: 18px;
  padding: 6px 9px;
  border-radius: 5px;
  border:none;
  color:#6c6c6c;
  margin-left:-50px;
  transition: all .4s;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline:none;
}
.btn:hover,
.btn:focus,
.btn.focus {
  transform: scale(1.3);
  color:#1a1a1a;
  cursor:pointer;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
